.claimPageChild {
    width: 48%;
    float: left;
    padding: 10px;
}

#claimPageForms {
    display: inline-block;
    width: 100%;
}

h3 {
    text-align: center;
}

#claimPageSubmitButtons {
    width: 96%;
    display: flex;
    justify-content: center;
}

